
{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block body %}

{% if configuration %}
    {% for key, value in configuration.items() %}
        <table>
            <caption>{{ key }}</caption>
<!--            <tr>-->
<!--                <th>Key</th>-->
<!--                <th>Value</th>-->
<!--            </tr>-->
            {% for key2, value2 in value.items() %}
            <tr><td><form action="changeconfiguration" method="POST"><input name="section" type="hidden" value={{ key }}><input name="key" type="hidden" value={{ key2 }}><label for="value">{{ key2 }}</label><input id="value" name="value" value={{ value2 }}><button type="submit" name="changeconfiguration">Change</button></form></td></tr>
            {% endfor %}
        </table>
    {% endfor %}
{% endif %}

{% endblock %}



