
{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block body %}
<p>The following list shows all registered data sources and their current QoI</p>

{% if datasources %}
<table>
    <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Last Update</th>
        <th>Metadata</th>
        <th>QoI</th>
    </tr>
    {% for ds in datasources %}
    <tr><td>{{ ds.stream_id}}</td><td>{{ ds.type }}</td><td>{{ ds.observedat|datetime }}</td><td><pre>{{ ds.stream }}</pre></td><td><pre>{{ ds.qoi}}</pre></td></tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}



