{% extends "layout.html" %}

{% block head %}
{% endblock %}


{% block body %}
<form method="POST" action="addsubscription">
    <label for="host">Host:</label>
    <input type="url" name="host" id="host"
           placeholder="http://155.54.95.248"
           pattern="http://.*" size="30"
           required value="http://155.54.95.248">
    <br>
    <label for="port">Port:</label>
    <input type="number" id="port" name="port" required min="0" placeholder="9090" value="9090">
    <br>
    <label for="subscription">Subscription:</label>
    <textarea id="subscription" name="subscription" required>{{ formdata }}</textarea>
    <br>
    <button type="submit">
        Create subscription
    </button>
</form>

{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}

{% if subscriptions %}
<p>
    <table>
        <tr>
            <th>Delete</th>
            <th>ID</th>
            <th>Host</th>
            <th>Subscription</th>
        </tr>
        {% for sub in subscriptions %}
            <tr><td><form action="deletesubscription" method="POST"><button type="submit" name="subid" value={{ sub.id }}>Delete</button></form>
            </td><td>{{ sub.id }}</td><td>{{ sub.host }}</td><td>{{ sub.subscription }}</td></tr>
        {% endfor %}
    </table>
</p>
{% endif %}

{% endblock %}


